{% extends 'main_template.html' %}
{% load crispy_forms_filters %}

{% block body %}
    <div class="mt-5">
        <div class="container col-4 col-md-4 col-lg-4 col-xl-4">
            <div class="justify-content-center">
                <h2>Зарегистрироваться</h2>
                <form method="post" id="register-form">
                    {% csrf_token %}
                    {% load crispy_forms_tags %}
                    {{ form|crispy }}
                    <button class="btn btn-primary" type="submit">Подтвердить</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}